@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap');

.container {
    color: #fff;
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center;
    padding: 90vh 20vh;
}

.container h2 {
    font-size: 5vh;
}

.container .container-slot {
    display: flex;
    align-items: center;
}

.container .container-slot .slot img {
    width: 10vh;
    padding: 0 10vh;
    margin-top: 5vh;
}

.container .container-slot .slot h3 {
    text-decoration: underline;
}

.all-skill .slot-skill {
    display: flex;
}

.all-skill .slot-skill .skill {
    padding: 3vh 4vh;
    font-size: 2vh;
}

.all-skill .slot-skill .skill h4 {
    font-size: 3vh;
}